header {
  background-color: rgb(58, 57, 57);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightgray;
  width: 100%;
}
header img{
  margin-left: 100px;
  float: left;
  margin-left: 70px;
  margin-top: 15px;
}
li{
  display: inline-block;
  padding: 40px;
}
ul{
  margin-left: 250px;
}
#section1 img {
  margin-left: 70px;
}
#section2 {
  margin-left: 70px;
}
#section2 img{
  padding-right: 26px;
  margin-top: 20px;
}
#scrollable{
  height: 400px;
  width: 480px;
  overflow: auto;
  font-style: italic;
  float: right;
  display: flex;
}
#imgText img{
  display: inline;
  margin-left: 70px;
  margin-top: 15px;
}
body{
  margin: 110px;
}